.mainForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0 5rem 0;
  position: relative;
}

@keyframes slideIn {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}

.signup_form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  padding-bottom: 3rem;
}
