.pageBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 20rem;
}
.nav {
  display: flex;
  margin-left: 10rem;
  margin-bottom: 0.5rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryFilterButton {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-align: center;
  align-items: center;
  width: max-content;
  height: 2rem;
  border: 0.1rem solid rgb(238, 238, 238);
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0 1rem;
  word-break: keep-all;
  white-space: nowrap;
  color: rgb(153, 153, 153);
  cursor: pointer;
}
.categoryFilter {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.categoryListLength {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.2rem;
}

.mainCategoryContainer {
  display: flex;
  justify-content: center;
}
