.green {
  background-color: #031633;
  color: #75b798;
}

.red {
  background-color: #2c0b0e;
  color: #ea868f;
}

.alertBox {
  width: auto;
  border: 1px solid black;
  font-size: 0.9rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 1rem;
}
